<div id="centerHeader">
  <img src='/assets/img/burger100_edt.png' alt='no burger img found'>
  <h2>{{ headline }}</h2>

  <form action="">
    <input type="text" name="burgerName">
    <br><br>
    <input type="submit" id="submitBtn">
    <br><br>
  </form>
  <p id="directions">{{ directions }}</p>
  <br><br>
</div>






